
.logo{
    color:rgba(205,103,153,1.0)
}
.light{
    color:rgba(255,255,255);
}
.navy-blue{
    color:rgba(0,0,128,0.7);
}
.header-selected{
    color:rgba(205,103,153,1.0) !important;
}
.header-not-selected{
    color:rgba(205,103,153,0.8);
}
.header-disabled{
    color:rgba(205,103,153,0.5);
}


